/* 全体 */

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#wrapper {
    width: 400px;
}

/* ブロックごと */

.orange {
    background-color: #ffce7a;
    height: 100px;
}

.lightblue {
    background-color: #9dddf4;
    height: 250px;
    width: 150px;
    float: left;
}

.red {
    background-color: #f89c9c;
    height: 150px;
    width: 100px;
    float: right;
}

.lightgreen {
    background-color: #C2FFCB;
    height: 50px;
    width: 150px;
    float: left;
}

.pink {
    background-color: #ffc2c5;
    height: 100px;
    width: 150px;
    float: right;
}

.yellow {
    background-color: #fff083;
    height: 100px;
    width: 250px;
    float: right;
}

.purple {
    background-color: #bea5ff;
    height: 100px;
}